/* fonts started*/
@font-face{ font-family:i; src:url(i.ttf)format("truetype") }
@font-face{ font-family:p; src:url(p.ttf)format("truetype") }
@font-face{ font-family:j; src:url(j.ttf)format("truetype") }
@font-face{ font-family:ib; src:url(ib.ttf)format("truetype") }
@font-face{ font-family:head; src:url(head.ttf)format("truetype") }
@font-face{ font-family:ab; src:url(ab.ttf)format("truetype") }
/* fonts end */
/* common started*/
body{max-width:100%;}
html{-webkit-tap-highlight-color:transparent;}
h6{display:none;}
#myMenu { list-style-type: none; padding: 0; margin: 0;}
a{text-decoration:none;}
#mySearch { width: 90%; margin-left:3px; margin:2px;border-radius:40px 40px;border:2px solid blue;}
input{all:unset;font:16px system-ui;color:#681914;height:100%;width:100%;padding:6px 10px;}
::placeholder{color:black;opacity:0.7;}
footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  font-family:sans-serif-smallcaps;margin:0px;
text-align: center;
}

 header{position:sticky;top:0;width: 100%;
  background-color:white;
  margin:0px;
text-align: center;}

h3{font-family:ib;}
h6{display:none;}
#result{color:red;font-family:head;}
/* common end */
p{font-family:p;}